       /* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
    overflow-x: hidden;
}

       .top-right-amoeba, .bottom-left-amoeba {
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease;
    position: absolute;
    background: linear-gradient(135deg, rgba(95, 63, 201, 0.25), rgba(75, 46, 166, 0.15));
    border-radius: 50%;
    opacity: 0.9;
}

.top-right-amoeba {
    top: -90px;
    right: -90px;
    width: 550px;
    height: 580px;
}

.bottom-left-amoeba {
    bottom: -100px;
    left: -100px;
    width: 500px;
    height: 500px;
}



/* Estilo do Contêiner */
.container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

/* Cartão */
.card {
    background-color: #e5e5e5;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cabeçalho */
.card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

/* Labels e Inputs */
form label {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}

form input[disabled], form textarea[disabled] {
    background-color: #f9f9f9;
    color: #555;
}

/* Botões */
.button-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #5b34a5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #431f78;
}

.btn.voltar {
    background-color: #431f78;
}

.btn.voltar:hover {
    background-color: #431f78;
}
