<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer Disponíveis</title>
	<link rel="stylesheet" href="/css/cliente-home.css">
</head>
<body>
    <div class="header">
        <div class="left-header">
            <img src="/img/logofree-removebg-preview.png" alt="Logo" class="logo">
            <span class="title">Freelancer.NET</span>
        </div>
        <div class="menu-toggle" onclick="toggleSidebar()">&#9776;</div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <img src="/img/logofree-removebg-preview.png" alt="Logo" class="sidebar-logo">
            <span class="sidebar-title">Freelancer.NET</span>
            <div class="menu-toggle" onclick="toggleSidebar()">&#10006;</div>
        </div>
        
         <div class="menu-item">
			<a th:href="@{/usuario/cliente/perfil/{id}(id=${cliente.id})}">Perfil</a>
		</div>
		
        <div class="menu-item">Inbox</div>
		<div class="menu-item">Contratos</div>
		<div class="menu-item">Informações</div>
    </div>
    <div class="background-shapes">
        <div class="top-right-amoeba"></div>
        <div class="bottom-left-amoeba"></div>
    </div>
    <div class="dashboard-container">
        <h2>Currículo de Freelancers Disponíveis</h2>

        <!-- Lista de serviços -->
        <div class="service-list" th:each="curriculo : ${curriculo}">
            <div class="service-item">
                <h3 th:text="${curriculo.nome}">Nome:</h3>
                <p th:text="${curriculo.AreaDeInteresse}">Area De Atuação:</p>               
                <!-- Botão para aplicar ao serviço -->

					<a class="a" th:href="@{/usuario/cliente/view-curriculo/{curriculoId}(curriculoId=${curriculo.id}, clienteId=${cliente.id})}">
				    Ver Currículo</a>


            </div>
        </div>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>
