<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/cliente-vizu-servico.css">
    <title>Visualizar Serviço Do Freelancer</title>
</head>
<body>

    <div class="top-right-amoeba"></div>
    <div class="bottom-left-amoeba"></div>

    <div class="container">
        <h1 th:text="${servico.titulo}">(Título do Serviço)</h1>
        <div class="row">
			<label for="valor">Valor:</label>
			<input type="text" id="valor" th:value="${servico.valor}" readonly>
        </div>
        <div class="row">
            <label for="duracao">Dias ou Horas:</label>
            <input type="text" id="duracao" th:value="${servico.horas}" readonly>
        </div>
		<div class="description">
		    <label for="descricao">Descrição:</label>
		    <textarea id="descricao" readonly style="color:black;" th:text="${servico.descricao}"></textarea>
		</div>

        <button class="back-button" onclick="window.history.back();">Voltar</button>
    </div>
</body>
</html>
