<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currículos dos Freelancers</title>
	<link rel="stylesheet" href="/css/curriculo.css">
</head>
<body>
    <div class="background-shapes">
        <div class="top-right-amoeba"></div>
        <div class="bottom-left-amoeba"></div>
    </div>
    <div class="container">
        <h2>Currículos dos Freelancers</h2>

        <div class="curriculum-list" th:each="curriculum : ${curriculums}">
            <div class="curriculum-card">
                <h3 th:text="${curriculum.freelancerName}">Nome do Freelancer</h3>
                <p><strong>Qualificações:</strong> <span th:text="${curriculum.qualificacoes}">Exemplo de qualificações</span></p>
                <p><strong>Experiências:</strong> <span th:text="${curriculum.experiencias}">Exemplo de experiências</span></p>
                <p><strong>Habilidades:</strong> <span th:text="${curriculum.habilidades}">Exemplo de habilidades</span></p>
                <a th:href="@{/aceitar-curriculo/{freelancerId}(freelancerId=${curriculum.freelancerId})}" class="btn-accept">Aceitar</a>
            </div>
        </div>
    </div>
</body>
</html>
