<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Currículo do Freelancer</title>
    <link rel="stylesheet" href="/css/curriculo-editar.css">
</head>
<body>
    <div class="top-right-amoeba"></div>
    <div class="bottom-left-amoeba"></div>
    
    <div class="register-container">
        <h1>Editar Currículo</h1>
        <form th:action="@{/usuario/freelancer/curriculo/editar/salvar/{id}(id=${curriculo.id})}" method="post" th:method="put">
            <label for="inputNome" class="form-label">Nome:</label>
            <input type="text" id="inputNome" name="nome" class="form-control" th:value="${curriculo.nome}" placeholder="Insira seu nome">

            <label for="inputEmail" class="form-label">E-mail:</label>
            <input type="email" id="inputEmail" name="email" class="form-control" th:value="${curriculo.email}" placeholder="Insira seu e-mail">

            <label for="inputTelefone" class="form-label">Telefone:</label>
            <input type="text" id="inputTelefone" name="telefone" class="form-control" th:value="${curriculo.telefone}" placeholder="Insira seu telefone">

            <label for="inputFormacao" class="form-label">Formação Acadêmica:</label>
            <textarea id="inputFormacao" name="formacaoAcademica" class="form-control" rows="4" placeholder="Insira sua formação acadêmica" th:text="${curriculo.formacaoAcademica}"></textarea>

            <label for="inputCompetencias" class="form-label">Competências:</label>
            <textarea id="inputCompetencias" name="competencias" class="form-control" rows="4" placeholder="Liste suas competências" th:text="${curriculo.competencias}"></textarea>

            <label for="inputExperiencia" class="form-label">Experiência Profissional:</label>
            <textarea id="inputExperiencia" name="experiencias" class="form-control" rows="4" placeholder="Descreva sua experiência profissional" th:text="${curriculo.experiencias}"></textarea>
						
			
			<label for="areaDeInteresse" class="form-label">Área que deseja atuar:</label>
			   <select name="areaDeInteresse" id="inputArea" class="form-control">
			       <!-- Placeholder para a área de interesse -->
			       <option value="" disabled>Selecione uma área</option>
			           <!-- Exibe cada valor do enum como uma opção, com a opção salva selecionada -->
			           <th:block th:each="areaDeInteresse : ${areasDeInteresse}">
			              <option th:value="${areaDeInteresse}" 
			              th:text="${areaDeInteresse}" 
			              th:selected="${curriculo.areaDeInteresse} == areaDeInteresse">
			        </option>
			           </th:block>
			   </select>
			

            <div class="btn-group">
				<button type="button" class="btn-back" onclick="window.history.back();">Voltar</button>
                <button type="submit" class="btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>
