<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Proposta</title>
<link rel="stylesheet" href="/css/Freelancer-Visu-Proposta.css"></head>
<body>
    <div class="container">
        <div class="card">
            <h2>Proposta do(a) (Nome do Cliente)</h2>
            <form>
                <label for="proposta">Proposta do Cliente:</label>
                <textarea id="proposta" rows="10" disabled>Aqui estará a proposta detalhada do cliente para o freelancer avaliar.</textarea>

                <div class="button-group">
                    <button type="button" class="btn voltar" onclick="window.location.href='servico.html'">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
