<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Freelancer - Serviços Disponíveis</title>
	<link rel="stylesheet" href="/css/freelancer-home.css">
</head>
<body>
    <div class="header">
        <div class="left-header">
            <img src="/img/logofree-removebg-preview.png" alt="Logo" class="logo">
            <span class="title">Freelancer.NET</span>
        </div>
        <div class="menu-toggle" onclick="toggleSidebar()">&#9776;</div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <img src="/img/logofree-removebg-preview.png" alt="Logo" class="sidebar-logo">
            <span class="sidebar-title">Freelancer.NET</span>
            <div class="menu-toggle" onclick="toggleSidebar()">&#10006;</div>
        </div>
        <div class="menu-item">
			<a th:href="@{/usuario/freelancer/perfil/{id}(id=${freelancer.id})}">Perfil</a>
		</div>
		<div class="menu-item">
		    <a th:href="@{/usuario/freelancer/curriculo/novo/{id}(id=${freelancer.id})}">Currículo</a>
		</div>



        <div class="menu-item">Inbox</div>
		<div class="menu-item">Contratos</div>
		<div class="menu-item">Informações</div>
    </div>
    <div class="background-shapes">
        <div class="top-right-amoeba"></div>
        <div class="bottom-left-amoeba"></div>
    </div>
    <div class="dashboard-container">
        <h2>Serviços Disponíveis para Freelancers</h2>

        <!-- Lista de serviços -->
        <div class="service-list" th:each="servico : ${servicos}">
            <div class="service-item">
                <h3 th:text="${servico.titulo}">Título do Serviço</h3>
                <p th:text="${servico.descricao}">Descrição do serviço...</p>


                
                <!-- Botão para aplicar ao serviço -->
                <a th:href="@{/aplicar-servico/{id}(id=${servico.id})}" class="btn-apply">Aplicar</a>
            </div>
        </div>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>
